.Podcast {
  display: flex;
  justify-content: space-between;
}

.Podcast .table {
  width: 800px;
}

.Podcast .episode > div {
  box-shadow: 0 1px 2px 2px #ddd;
}

.Podcast .episode > div:nth-child(1) {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 12px;
}

.Podcast .episode .table {
  padding: 24px 16px;
}

.Podcast .episode .row {
  background-color: inherit;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  cursor: pointer;
  display: grid;
  grid-template-columns: 75% 15% 10%;
  padding: 12px 16px 12px 8px;
}

.Podcast .episode a:nth-child(odd) {
  background-color: #eee;
}

.Podcast .episode .row.head:nth-child(1) {
  border-top: none;
  font-weight: bold;
}

.Podcast .episode .row.episode span:nth-child(1) {
  color: #859cab;
}
